Source: lliurex-inventory-agent
Section: misc
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es> 
Standards-Version: 4.3.0
Build-Depends: debhelper-compat (= 10)
Homepage: https://github.com/lliurex/lliurex-inventory-agent

Package: lliurex-inventory-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, glpi-agent
Conflicts: fusioninstall (<< 1.0)
Description:  LliureX hardware and software inventory client
 The package installs required dependencies and configurations for the operation
 of GLPI agent within the GVA network of educational centres.
 .
 LliureX inventory management facilitates the support and maintenance of
 the educational centres' equipment.

Package: fusioninstall
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lliurex-inventory-agent (= ${binary:Version})
Conflicts: fusioninventory-agent, fusioninventory-agent-task-network, fusioninventory-agent-task-deploy, fusioninventory-agent-task-esx
Description: LliureX inventory agent transitional package
 Force uninstallation of (old) fusioninventory-agent packages and installs
 new lliurex-inventory-agent package.
 This package can safely be removed after installation.
 .
 LliureX inventory management facilitates the support and maintenance of
 the educational centres' equipment.

